//Inneholder alle variabler for farger, fonter og andre gjenbrukbare verdier

//fonter
$primær-font: "Outfit", sans-serif ;
$sekundær-font: "Roboto", sans-serif;

//farger
$primær-farge: #000;
$sekundær-farge: #120303;

$meny-bakgrunnFarge: #145a26; 
$meny-tekstFarge: #fff;